@{
    ViewBag.Title = "Thanh toán thất bại";
}

<main class="container my-5 text-center">
    <img src="https://i.pinimg.com/236x/91/30/12/913012011602b26731cd93c947f51438.jpg"
         alt="Failed" class="img-fluid mb-4" style="max-width:600px; max-height:600px; border-radius:12px;" />
    <h1 class="text-danger mb-3">Thanh toán thất bại!</h1>
    <a href="/" class="btn btn-primary btn-lg mt-3">Quay về trang chủ</a>
</main>
