@{
    ViewBag.Title = "Thanh toán thành công";
}

<main class="container my-5 text-center">
    <img src="https://i.pinimg.com/736x/a5/f9/f1/a5f9f11c3d0c3f2c9515fb23ec00c9ef.jpg"
         alt="Success" class="img-fluid mb-4" style="max-width:600px; max-height:600px; border-radius:12px;" />
    <h1 class="text-success mb-3">Đặt hàng thành công!</h1>
    <a href="/" class="btn btn-primary btn-lg mt-3">Quay về trang chủ</a>
</main>
