@model Vortex.Models.NewsViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h3>Tạo tin tức mới</h3>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Link" class="form-label"></label>
        <input asp-for="Link" class="form-control" />
        <span asp-validation-for="Link" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ImageFile" class="form-label"></label>
        <input asp-for="ImageFile" type="file" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Tạo mới</button>
</form>
